.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    padding: 0 10vw;
    align-items: start;
    grid-auto-rows: 10px;

    h1 {
      grid-column: 1/span 2;
    }
  }